.btn {
    ::ng-deep {
        .custom-button:before {
            background-color: #0d6efd;
        }

        .custom-button:hover {
            color: #fff;
        }
    }
}

svg:hover {
    cursor: pointer;
    transform: scale(1.3);
}