<mat-card class="d-flex flex-row row" @simpleAnimation *ngIf="product">
    <div class="col-9 d-flex flex-row align-items-center">
        <img mat-card-sm-image src="{{image}}" style="margin-right: 5%;" class="object-fit-cover">
        <div class="d-flex flex-column">
            <mat-card-title>{{product.informations[0].name}}</mat-card-title>
            <mat-card-title class="money">Giá: {{price}}</mat-card-title>
        </div>
    </div>
    <div class="col-3 d-flex flex-row align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="col bi bi-dash-circle" (click)="modifyProdcutQuantity(false)"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
        </svg>
        <mat-card-subtitle>{{quantity}}</mat-card-subtitle>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="col bi bi-plus-circle" (click)="modifyProdcutQuantity(true)"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </div>
</mat-card>