.disagree-button {
  ::ng-deep {
    .custom-button:before {
      background-color: #ff3030;
    }

    .custom-button:hover {
      color: #fff;
    }
  }
}

.agree-button {
  ::ng-deep {
    .custom-button:before {
      background-color: #37ff00;
    }

    .custom-button:hover {
      color: #fff;
    }
  }
}