<div class="row mb-3">
    <div *ngFor="let product of pagingResult.values" class="col-xxl-3 col-md-6">
        <div class="product" @simpleAnimation *ngIf="product">
            <app-product [product]="product"></app-product>
        </div>
    </div>
    <div *ngIf="isLoad" class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
</div>
<mat-paginator 
[pageIndex]="pagingResult.pageIndex"
[pageSize]="pagingResult.pageSize"
[length]="pagingResult.totalCount"
[hidePageSize]="true"
(page)="pageChange($event)"
[pageSizeOptions]="[4, 8, 16]">
</mat-paginator>